  .error-container {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .error-content {
      max-width: 600px;
    }
    .error-content h1 {
      font-size: 100px;
      font-weight: bold;
    }
    .error-content p {
      font-size: 18px;
      margin-top: 20px;
    }
    .error-content .btn {
      margin-top: 30px;
      font-size: 16px;
    }


    /* Make sure the loader takes up the full height of the page and centers it */
.container {
    height: 100vh;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

