.img-preview {
  max-width: 100%;
  max-height: 220px;
  object-fit: contain;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.img-preview:hover {
  transform: scale(1.02);
}

.accordion-button {
  font-weight: 600;
  background-color: #f8f9fa;
}

.accordion-button:not(.collapsed) {
  background-color: #e9ecef;
  color: #212529;
}

.accordion-item {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.card {
  border: none;
  border-radius: 10px;
  background-color: #f8f9fa;
}


.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}
.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  font-family: sans-serif;
}
.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box:last-child {
  border: none;
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}




.upload-card {
  width: 220px;
  height: 220px;
  border-radius: 14px;
  border: 2px dashed #d0d5dd;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-card:hover {
  border-color: #0d6efd;
  background: #f5f9ff;
}

.upload-content {
  text-align: center;
}

.upload-icon {
  font-size: 36px;
  margin-bottom: 8px;
}

.title {
  font-weight: 600;
  margin: 0;
}

.subtitle {
  font-size: 12px;
  color: #6c757d;
}

.preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
}

.remove-btn:hover {
  background: #dc3545;
}
