<!-- main sidebar end -->

<!-- main content start -->
<div class="main-content">
    <div class="breadcrumb mb-30">
        <h2>Setting</h2>
    </div>
    <div class="row g-4">
        <div class="col-12">
            <div class="panel">
                <div class="panel-header">
                    <h5>Add New Setting</h5>
                </div>
                <form [formGroup]="settings">
                <div class="panel-body">
                    <div class="row g-3">
                        <div class="col-12">
                            <label class="form-label"> Title</label>
                            <input type="text" class="form-control form-control-sm" formControlName="name" id="categoryTitle">
                            <p class="perma-txt" hidden>
                                Permalink: <span data-link="https://example.com/" class="site-link text-primary" id="categoryPermalink">https://example.com/</span><input type="text" class="form-control form-control-sm" hidden="" id="editPermalink">
                                <button class="btn-flush bg-primary" id="editPermaBtn">Edit</button>
                                <button class="btn-flush bg-success" id="createPerma" hidden="">OK</button>
                                <button class="btn-flush bg-danger" id="cancelPerma" hidden="">Cancel</button>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Main Setting</label>
                            <select class="" formControlName="mainCategory">
                                <option value="">Select</option>
                                <option value="Cloth">Cloth</option>
                                <option value="Fashion">Fashion</option>
                                <option value="Jewellery">Jewellery</option>
                                <option value="Bag">Bag</option>
                                <option value="SmartPhone">Smart Phone</option>
                                <option value="Watch">Watch</option>
                                <option value="Sunglass">Sunglass</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Custom Setting Icon</label>
                            <input type="text" formControlName="customCategoryIcon" class="form-control form-control-sm" placeholder="Fontawesome 6 pro icon name">
                        </div>
                        <div class="col-12">
                            <label class="form-label">Description</label>
                            <textarea rows="5" class="form-control form-control-sm" formControlName="description"></textarea>
                        </div>
                        <div class="col-12">
                            <label class="form-label">Display Type</label>
                            <select class="" formControlName="displayType">
                                <option value="">Default</option>
                                <option value="Products">Products</option>
                                <option value="Subcategories">Subcategories</option>
                                <option value="Both">Both</option>
                            </select>
                        </div>
                       <!-- <div class="col-12">
                        <div class="upload-category-thumbnail">
                            <label class="form-label mb-0" for="thumbUpload">Add Category Thumbnail</label>
                        <button>
                            <input 
                            type="file"
                            (change)="onImageChange($event)"
                            accept="image/*"
                            class="form-control"
                            />
                        </button>
                            @if(imagePreview){

                                <div class="mt-2">
                                <img src="{{imagePreview}}" alt="Thumbnail Preview" width="120" height="120" style="border-radius:8px;">
                                </div>
                            }
                        </div>
</div> -->

                        <div class="col-12 d-flex justify-content-end">
                            <div class="btn-box">
                                <button class="btn btn-sm btn-primary" (click)="saveSettingData()">Save Setting</button>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <!-- footer start -->
    <div class="footer">
        <p>Copyright© <script>document.write(new Date().getFullYear())</script> All Rights Reserved By <span class="text-primary">Safure</span></p>
    </div>
    <!-- footer end -->
</div>
<!-- main content end -->