@use '../../../scss/variable' as *;

.paragraph {
  white-space: normal !important;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}
.seller-info {
  .heading{
    .btn{
      &:hover{background-color: #dee2e6;}
    }
  }
  .info-title{width: 90px;}
}