/* You can add global styles to this file, and also import other style files */
.snackbar-success {
  background: #0093dd  !important; /* green */
  color: #fff !important;
   z-index: 9999;
}

.snackbar-error {
  background: #f44336 !important; /* red */
  color: #fff !important;
   z-index: 9999;
}

.snackbar-warning {
  background: #ff9800 !important; /* orange */
  color: #000 !important;
   z-index: 9999;
}
.cdk-overlay-container {
    position: fixed;
    z-index: 99999;
}

.ql-snow.ql-toolbar button {
  white-space: nowrap;
}
.ql-html-popupTitle {
	text-align: center;
	font-weight: 600;
}
.ql-html-buttonGroup {
  transform: unset !important;
	bottom: -30px !important;
	button {
		padding: .5rem 1rem;
		color: #fff;
		font-size: 14px;
		border-radius: 4px;
		border: 0; 
		&.ql-html-buttonCancel {
			background: #da3a3a;
		}
		&.ql-html-buttonOk {
			background: #0093dd;
		}
	}
}