@use '../../../scss/variable' as *;

.footer {
  background: $heading;
  padding-bottom: 0;
}
.footer-padding {
  padding-bottom: 12rem !important;
}

.footer-top-section {
//   background: url("../images/homepage-one/footer-top-bg.webp") no-repeat
//     center / cover;
  height: 46rem;
  @include flexItem();
  margin-top: -17rem;

  .wrapper {
    @include flexItem($direction: column);
    height: auto;
    padding: 0;
    background-color: transparent;
    text-align: center;

    .wrapper-title {
      color: $primary-color;

      .inner-title {
        color: $secondary-theme;
      }
    }

    .wrapper-paragraph {
      font-size: 1.8rem;
      font-weight: 400;
      margin: 1rem 0;
      color: $primary-color;
    }

    .footer-btn {
      @include flexItem();
      width: 54.3rem;
      background-color: $primary-color;
      margin-top: 3rem;
      height: 5.4rem;
      border-radius: 4px;
      overflow: hidden;

      .mail {
        @include flexItem($justify: unset);
        flex: 1 1 0%;

        .img {
          padding: 0 1rem 0 2rem;
        }
      }

      input {
        height: 100%;
        flex: 1 1 0%;

        &::placeholder {
          color: #222222;
          font-size: 1.2rem;
        }
      }
      .shop-btn {
        height: 100%;
        border-radius: 0;
        background-color: $secondary-theme;
        color: $heading;
        font-weight: 600;
        @include flexItem($justify: center);
        &::after {
          display: none;
        }
      }
    }
  }
  @media #{$sm} {
    .wrapper {
      .footer-btn {
        width: 30rem;
      }
    }
  }
}

.footer-center {
  hr {
    color: rgba($primary-color, 0.3);
  }
}

.footer-center-section {
  padding-top: 6rem;

  .logo {
    margin-bottom: 2rem;
  }

  .footer-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $primary-color;
  }
  .footer-title {
    margin-bottom: 1.8rem;
  }

  .footer-link {
    a {
      color: #c8c8c8;
      font-size: 1.5rem;
      font-weight: 300;

      &:hover {
        color: $theme-color;
        text-decoration: underline;
      }
    }
    p {
      color: #c8c8c8;
    }

    ul {
      padding-left: 0;

      li {
        margin-bottom: 2rem;
      }
    }
    .address {
      @include flexItem($align: flex-start, $gap: 1.5rem, $justify: flex-start);
    }
  }

  .contact-link {
    @include flexItem($align: flex-start, $direction: column, $gap: 2rem);
  }

  @media #{$sm} {
    .footer-link {
      a {
        font-size: 1.5rem !important;
      }
    }
  }
}

.footer-bottom-section,
.footer-social,
.social-items {
  @include flexItem($justify: space-between);
}
.footer-bottom-section {
  padding: 1rem 0 2rem 0;

  .footer-social {
    gap: 1.5rem;
    line-height: 1.5rem;

    .social-items {
      gap: 2.2rem;
    }
    p {
      color: #c8c8c8;
    }
    .inner-text {
      color: $theme-color;
    }
  }

  @media #{$sm} {
    flex-direction: column;
    gap: 2rem;
  }
}
