@use '../../scss/variable' as *;

.hero {
//   background: url("../../../images/homepage-one/hero-bg.webp") no-repeat center / cover;

  .swiper-pagination-bullets {
    bottom: 3rem;
  }

  @media #{$sm} {
    .hero-section {
      .hero-wrapper {
        height: 57rem;
      }
      .hero-slide {
        .hero-wrapper-slide {
          @include flexItem($direction: column-reverse, $gap: 2rem);

          .wrapper-info {
            .wrapper-subtitle {
              font-size: 2rem;
              color: $theme-color;
            }
            .wrapper-details {
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
          .wrapper-img {
            height: 25rem;
            width: auto;
          }
        }
      }
    }
  }

  @media #{$mdl} {
    .swiper-pagination-bullets {
      bottom: 0;
    }
    .hero-section {
      .hero-slide {
        .hero-wrapper-slide {
          @include flexItem($direction: column-reverse, $gap: 2rem);

          .wrapper-info {
            .wrapper-subtitle {
              font-size: 2rem;
              color: $theme-color;
            }
            .wrapper-details {
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
          .wrapper-img {
            height: 25rem;
            width: auto;
          }
        }
      }
    }
  }
  @media #{$mdx} {
    height: auto;
    .hero-section {
      .hero-wrapper {
        height: 70.6rem;
      }
    }
  }
}

.hero-section {
  .swiper {
    width: 100%;
    height: 100%;
    padding: 5rem 0 0 0;
  }
  .hero-slide {
    padding: 0;
    .hero-wrapper-slide {
      @include flexItem();

      .wrapper-info {
        flex: 1 1 0%;

        .wrapper-subtitle {
          font-size: 3.4rem;
          color: $theme-color;
        }
        .shop-btn {
          margin: 2rem 0;
          padding: 1.5rem 3rem;
          background-color: $secondary-theme;
          color: $heading;

          svg {
            fill: $heading;
          }
          &:hover {
            color: $primary-color;
            svg {
              fill: $primary-color;
            }
          }
        }
      }

      .wrapper-img {
        height: 60rem;
        width: 65rem;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .hero-service {
    background-color: $theme-color;
    padding: 2.8rem;
    border-radius: 4px;
    margin-top: 3rem;
    .service-wrapper {
      @include flexItem($justify: unset, $gap: 2rem);

      .service-info {
        font-size: 1.6rem;
        color: $primary-color;
        margin-bottom: 0;
      }

      .service-details {
        font-size: 1.4rem;
        font-weight: 400;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}

// slider-pagination----------
.swiper-slide {
  z-index: 2;
}

.swiper-slide-active {
  z-index: 999;
}

.swiper-pagination {
  text-align: left;
}
.swiper-pagination-bullet {
  width: 2.2rem;
  height: 7px;
  border-radius: 30px;
}

.swiper-pagination-bullet-active {
  background-color: $theme-color;
}

.slide-img {
  width: 10%;
  height: 20px;
  object-fit: cover;
  border-radius: 10px;
}

/* navigation buttons */
.owl-theme .owl-nav button {
  background: #000 !important;
  color: #fff !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 22px !important;
  line-height: 40px;
  transition: 0.3s;
}

.owl-theme .owl-nav button:hover {
  background: #333 !important;
}

/* dots */
.owl-theme .owl-dots .owl-dot span {
  background: #bbb !important;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: #000 !important;
}

@media #{$sm} {
  .product-category {
    padding-block: .75rem;
    background-color: #0092d51a;
    .category-section {
      display: flex;
      .product-wrapper {
        width: fit-content;
        .wrapper-img {
          width: 48px;
          aspect-ratio: 1;
          height: initial;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}