<div class="main-sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="/dashboard" class="nav-link fw-bold active">
                <span class="nav-icon"><i class="fa fa-grid-2"></i></span>
                <span class="sidebar-txt ps-2">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/all-customers" class="nav-link">
                <span class="nav-icon"><i class="fa fa-user-group"></i></span>
                <span class="sidebar-txt ps-2">All Customer</span>
            </a>
            <!-- <a class="nav-link" href="#">Link</a> -->
        </li>
        <li class="nav-item">
            <a href="/add-product" class="nav-link">
                <span class="nav-icon"><i class="fa fa-plus-square"></i></span>
                <span class="sidebar-txt ps-2">Add Product</span>
            </a>
            <!-- <a class="nav-link" href="#">Link</a> -->
        </li>
        <li class="nav-item">
            <a href="/all-products" class="nav-link">
                <span class="nav-icon"><i class="fa fa-boxes"></i></span>
                <span class="sidebar-txt ps-2">All Product</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/category" class="nav-link">
                <span class="nav-icon"><i class="fa fa-tag"></i></span>
                <span class="sidebar-txt ps-2">Category</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/orders" class="nav-link">
                <span class="nav-icon"><i class="fa fa-cart-shopping"></i></span>
                <span class="sidebar-txt ps-2">Order</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/coupons" class="nav-link">
                <span class="nav-icon"><i class="fa fa-gift"></i></span>
                <span class="sidebar-txt ps-2">Coupons</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/settings" class="nav-link">
                <span class="nav-icon"><i class=" fa fa-gear"></i></span>
                <span class="sidebar-txt ps-2">Settings</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/pages" class="nav-link">
                <span class="nav-icon"><i class=" fa fa-gear"></i></span>
                <span class="sidebar-txt ps-2">Pages</span>
            </a>
        </li>
    </ul>
</div>