<div class="main-sidebar flush-menu">
    <div class="main-menu">
        <ul class="sidebar-menu scrollable">
            <li class="sidebar-item open">
                <ul class="sidebar-link-group">
                    <li class="sidebar-dropdown-item">
                        <a href="/dashboard" class="sidebar-link active"><span class="nav-icon"><i class="fa fa-grid-2"></i></span> <span class="sidebar-txt">Dashboard</span></a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a role="button" class="sidebar-link-group-title has-sub">Apps</a>
                <ul class="sidebar-link-group">
                    <li class="sidebar-dropdown-item">
                        <a href="/all-customers" class="sidebar-link"><span class="nav-icon"><i class="fa fa-user-group"></i></span> <span class="sidebar-txt">All Customer</span></a>
                    </li>
                    <li class="sidebar-dropdown-item">
                        <a href="/add-product" class="sidebar-link"><span class="nav-icon"><i class="fa fa-plus-square"></i></span> <span class="sidebar-txt">Add Product</span></a>
                    </li>
                    <li class="sidebar-dropdown-item">
                        <a href="/all-products" class="sidebar-link"><span class="nav-icon"><i class="fa fa-boxes"></i></span> <span class="sidebar-txt">All Product</span></a>
                    </li>
                    <li class="sidebar-dropdown-item">
                        <a href="/category" class="sidebar-link"><span class="nav-icon"><i class="fa fa-tag"></i></span> <span class="sidebar-txt">Category</span></a>
                    </li>
                    <li class="sidebar-dropdown-item">
                        <a href="/orders" class="sidebar-link"><span class="nav-icon"><i class="fa fa-cart-shopping"></i></span> <span class="sidebar-txt">Order</span></a>
                    </li>
                     <li class="sidebar-dropdown-item">
                        <a href="/coupons" class="sidebar-link"><span class="nav-icon"><i class="fa fa-gift"></i></span> <span class="sidebar-txt">Coupons</span></a>
                    </li>
                      <li class="sidebar-dropdown-item">
                        <a href="/settings" class="sidebar-link"><span class="nav-icon"><i class=" fa fa-gear"></i></span> <span class="sidebar-txt">Settings</span></a>
                    </li>

                      <li class="sidebar-dropdown-item">
                        <a href="/pages" class="sidebar-link"><span class="nav-icon"><i class=" fa fa-gear"></i></span> <span class="sidebar-txt">Pages</span></a>
                    </li>

                    

                    
                    <!-- <li class="sidebar-dropdown-item">
                        <a href="order.html" class="sidebar-link"><span class="nav-icon"><i class="fa fa-cart-shopping"></i></span> <span class="sidebar-txt">Attributes</span></a>
                    </li>
                    <li class="sidebar-dropdown-item">
                        <a href="order.html" class="sidebar-link"><span class="nav-icon"><i class="fa fa-cart-shopping"></i></span> <span class="sidebar-txt">Coupon</span></a>
                    </li>
                    <li class="d-none sidebar-dropdown-item">
                        <a href="calendar.html" class="sidebar-link"><span class="nav-icon"><i class="fa fa-calendar"></i></span> <span class="sidebar-txt">Calendar</span></a>
                    </li>
                    <li class="d-none sidebar-dropdown-item">
                        <a href="invoices.html" class="sidebar-link"><span class="nav-icon"><i class="fa fa-file-invoice"></i></span> <span class="sidebar-txt">Invoices</span></a>
                    </li>
                    <li class="d-none sidebar-dropdown-item">
                        <a href="contact.html" class="sidebar-link"><span class="nav-icon"><i class="fa fa-user-plus"></i></span> <span class="sidebar-txt">Contacts</span></a>
                    </li> -->
                </ul>
            </li>
        </ul>
    </div>
</div>