.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.75rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
}

.main-sidebar {
	// width: 230px;
	// padding-top: 0;
	width: 270px;
    background-color: color-mix(in srgb, #0193de 10%, #fff);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 11;
	margin-top: 50px;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	// padding-top: 70px;
	// background-size: cover;
	// background-position: center center;
	// background-repeat: no-repeat;
	&::after {
		width: 230px;
		border-right: 1px solid #0193de35;
	}

	.nav {
		--bs-link-color: #4A4A4A;
		--bs-link-hover-color: #4B4B4B;
		.nav-item {
			.nav-link {
				border-bottom: 1px solid color-mix(in srgb, #0193de 15%, #fff);
				transition: all .2s ease-in-out;
				border-left-width: .25rem;
				border-left-style: solid;
				border-left-color: transparent;
				&:hover, .active {
					color: #fff;
					border-left-width: .5rem;
					border-left-color:  color-mix(in srgb, #0193de 35%, #fff);
					border-radius: 0 .5rem .5rem 0;
					background-color: #0193de;
				}
			}
		}
	}
}


@media only screen and (min-width: 1024px) {
    .main-sidebar {
    // top: 60px;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}