.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-nested-tree-node {
  padding-left: 40px;
}
.preview-img {
  max-width: 100px;
  aspect-ratio: 1;
}

.custom-quill .ql-container {
  min-height: 200px;
}

.custom-quill .ql-editor {
  min-height: 200px;
}
:host ::ng-deep quill-editor .ql-container {
  min-height: 100px;   /* initial height */
}

:host ::ng-deep quill-editor .ql-editor {
  min-height: 100px;
  height: auto !important;
  overflow-y: hidden; /* prevent scroll */
}

h5 {
    font-size: 16px;
    line-height: 50px;
}
.part-txt h5 span {
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  color: #a1a1a1;
}