<!-- header start -->
<app-header></app-header>
<!-- header end -->

<!-- main sidebar start -->
<app-sidebar></app-sidebar>
<!-- main sidebar end -->

<!-- main content start -->
<div class="main-content">
  <form [formGroup]="productMultipleOptionForm" (ngSubmit)="submitProductMultipleOptionForm()">
    <div class="breadcrumb mb-30">
        <h2>Add New Product</h2>
        <div class="btn-box">
            <a href="all-product.html" class="btn btn-sm btn-primary">View All</a>
        </div>
    </div>
    <div class="row g-4">
        <div class="col-xxl-9 col-lg-8">
            <form [formGroup]="productDetails" (ngSubmit)="addProductDetails()">
            <div class="panel mb-30">
                <div class="panel-body product-title-input">
                    <label class="form-label">Write Title</label>
                    <input type="text" formControlName="productTitle" class="form-control" id="productTitle" placeholder="Title for product">
                    <p class="perma-txt" hidden>
                        Permalink: <span data-link="https://example.com/" class="site-link text-primary" id="productPermalink">https://example.com/</span>
                        <input type="text" class="form-control form-control-sm" hidden id="editPermalink">
                        <button class="btn-flush bg-primary" id="editPermaBtn">Edit</button>
                        <button class="btn-flush bg-success" id="createPerma" hidden>OK</button>
                        <button class="btn-flush bg-danger" id="cancelPerma" hidden>Cancel</button>
                    </p>
                </div>
            </div>
            <div class="panel mb-30">
                <div class="panel-header">
                    <h5>Product Description</h5>
                    <div class="btn-box d-flex gap-2">
                        <button class="btn btn-sm btn-icon btn-outline-primary"><i class="fa-light fa-arrows-rotate"></i></button>
                        <button class="btn btn-sm btn-icon btn-outline-primary panel-close"><i class="fa-light fa-angle-up"></i></button>
                    </div>
                </div>
                <!-- formControlName="productDescription" -->
                 <!-- quill editor  -->
                    <quill-editor formControlName="productDescription">
                    </quill-editor>
                <!-- <div class="panel-body">
                    <div class="editor"></div>
                </div> -->
            </div>
            <!-- <button (click)="getProductDetails()">submit changes</button> -->
 </form>
 


            <div class="panel mb-30">

            <form [formGroup]="productOptionData" (ngSubmit)="productOptionType()">
                <div class="panel-header">
                    <h5>Product Data</h5>
                    <div class="panel-header-right">
                      @if(false){

                        <div class="form-check d-flex gap-4">
                            <div class="form-check">
                                <input class="form-check-input" formControlName="generalProductData" type="checkbox" value="" id="generalProductData">
                                <label class="form-check-label" for="generalProductData">
                                    General
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" formControlName="downloadableProductData" type="checkbox" value="" id="DownloadableProductData">
                                <label class="form-check-label" for="DownloadableProductData">
                                    Downloadable
                                </label>
                            </div>
                        </div>
                      }
                    </div>
                    <div class="btn-box d-flex gap-2">
                        <button class="btn btn-sm btn-icon btn-outline-primary"><i class="fa-light fa-arrows-rotate"></i></button>
                        <button class="btn btn-sm btn-icon btn-outline-primary panel-close"><i class="fa-light fa-angle-up"></i></button>
                    </div>
                </div>
            </form>


<div class="panel-body">
    <nav>
      <div class="btn-box d-flex flex-wrap gap-1 mb-30" id="nav-tab" role="tablist">
        <button class="btn btn-sm btn-outline-primary active" id="nav-media-tab" data-bs-toggle="tab" data-bs-target="#nav-media" type="button" role="tab" aria-controls="nav-media" aria-selected="true">Media</button>
        <button class="btn btn-sm btn-outline-primary" id="nav-inventory-tab" data-bs-toggle="tab" data-bs-target="#nav-inventory" type="button" role="tab" aria-controls="nav-inventory" aria-selected="false">Inventory</button>
        <button class="btn btn-sm btn-outline-primary" id="nav-price-tab" data-bs-toggle="tab" data-bs-target="#nav-price" type="button" role="tab" aria-controls="nav-price" aria-selected="false">Price</button>
        <!-- <button class="btn btn-sm btn-outline-primary" id="nav-attribute-tab" data-bs-toggle="tab" data-bs-target="#nav-attribute" type="button" role="tab" aria-controls="nav-attribute" aria-selected="false">Attribute</button> -->
        <button class="btn btn-sm btn-outline-primary" id="nav-shipping-info-tab" data-bs-toggle="tab" data-bs-target="#nav-shipping-info" type="button" role="tab" aria-controls="nav-shipping-info" aria-selected="false">Shipping info</button>
        <!-- <button class="btn btn-sm btn-outline-primary" id="nav-video-tab" data-bs-toggle="tab" data-bs-target="#nav-video" type="button" role="tab" aria-controls="nav-video" aria-selected="false">Video</button> -->
        <button class="btn btn-sm btn-outline-primary" id="nav-shipping-configuration-tab" data-bs-toggle="tab" data-bs-target="#nav-shipping-configuration" type="button" role="tab" aria-controls="nav-shipping-configuration" aria-selected="false">Shipping Configuration</button>
        <button class="btn btn-sm btn-outline-primary" id="nav-offer-tab" data-bs-toggle="tab" data-bs-target="#nav-offer" type="button" role="tab" aria-controls="nav-offer" aria-selected="false">Offer</button>
      </div>
    </nav>
    <div class="tab-content product-data-tab" id="nav-tabContent">
      <!-- Media Tab -->
      <div class="tab-pane fade show active" id="nav-media" role="tabpanel" aria-labelledby="nav-media-tab" tabindex="0">
        <form  [formGroup]="productMediaSection">
          <div class="row">
            <div class="col-xxl-3 col-md-4 col-5 col-xs-12">
              <div class="add-thumbnail product-image-upload">
                <div class="part-txt">
                  <h5>Add thumbnail <span>(jpeg/png)</span></h5>
                </div>
                <input type="file" class="image-input" formControlName="thumbUpload" accept="image/*" (change)="onFileSelect($event)">
               @if(thumbPreview){

                 <img [src]="thumbPreview" class="preview-img" />
               }
              </div>
            </div>
            <div class="col-xxl-9 col-md-8 col-7 col-xs-12">
              <div class="add-gallery-img product-image-upload">
                <div class="part-txt">
                  <h5>Add gallery <span>(jpeg/png)</span></h5>
                </div>
                <input type="file" class="image-input" formControlName="galleryUpload" accept="image/*" (change)="onFileSelect($event)">
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Inventory Tab -->
      <form [formGroup]="productInventrySection">

        <div class="tab-pane fade" id="nav-inventory" role="tabpanel" aria-labelledby="nav-inventory-tab" tabindex="0">
            <div class="row align-items-center g-3 mb-3">
              <label class="col-md-2 col-form-label col-form-label-sm">SKU <span class="btn-flush fs-14" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem Ipsum is simply dummy text of the printing and typesetting industry."><i class="fa-solid fa-circle-question"></i></span></label>
              <div class="col-md-10">
                <input type="text" class="form-control form-control-sm" formControlName="sku" id="SKU">
              </div>
            </div>
          <div class="row align-items-center g-3 mb-3">
            <label class="col-md-2 col-form-label col-form-label-sm">Manage Stock?</label>
            <div class="col-md-10">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="manageStock" id="manageStock">
                <label class="form-check-label" for="manageStock">
                  Manage stock level (quantity)
                </label>
              </div>
            </div>
          </div>
          <div class="row align-items-center g-3 mb-3">
            <label class="col-md-2 col-form-label col-form-label-sm">Stock Status <span class="btn-flush fs-14" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem Ipsum is simply dummy text of the printing and typesetting industry."><i class="fa-solid fa-circle-question"></i></span></label>
            <div class="col-md-10">
              <select class="form-control form-control-sm" formControlName="stockStatus">
                <option value="0">In stock</option>
                <option value="1">Out of stock</option>
                <option value="2">On backorder</option>
              </select>
            </div>
          </div>
          <div class="row align-items-center g-3 mb-3">
            <label class="col-md-2 col-form-label col-form-label-sm">Sold individually <span class="btn-flush fs-14" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem Ipsum is simply dummy text of the printing and typesetting industry."><i class="fa-solid fa-circle-question"></i></span></label>
            <div class="col-md-10">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="soldIndividually" id="soldIndividually">
                <label class="form-check-label" for="soldIndividually">
                  Limit purchases to 1 item per order
                </label>
              </div>
            </div>
          </div>
          <div class="row align-items-center g-3 mb-3">
            <label class="col-md-2 col-form-label col-form-label-sm">Product Code <span class="btn-flush fs-14" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem Ipsum is simply dummy text of the printing and typesetting industry."><i class="fa-solid fa-circle-question"></i></span></label>
            <div class="col-md-10">
              <input type="text" class="form-control form-control-sm" formControlName="productCode" id="productCode">
            </div>
          </div>
          <div class="row align-items-center g-3 mb-3">
            <label for="lowStockWarning" class="col-md-2 col-form-label col-form-label-sm">Low Stock Warning</label>
            <div class="col-md-10">
              <input type="number" class="form-control form-control-sm" formControlName="lowStockWarning" id="lowStockWarning">
            </div>
          </div>
          <div class="row align-items-center g-3 mb-3">
            <label for="showStockQuantity" class="col-md-2 col-8 col-form-label col-form-label-sm">Show Stock Quantity</label>
            <div class="col-md-10 col-4">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" formControlName="showStockQuantity" id="showStockQuantity">
              </div>
            </div>
          </div>
          <div class="row align-items-center g-3 mb-3">
            <label for="showStockWithText" class="col-md-2 col-8 col-form-label col-form-label-sm">Show Stock With Text</label>
            <div class="col-md-10 col-4">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" formControlName="showStockWithText" id="showStockWithText">
              </div>
            </div>
          </div>
          <div class="row align-items-center g-3">
            <label for="hideStock" class="col-md-2 col-8 col-form-label col-form-label-sm">Hide Stock</label>
            <div class="col-md-10 col-4">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" formControlName="hideStock" id="hideStock">
              </div>
            </div>
          </div>
        </div>
         </form>
      <!-- Price Tab -->

      <form [formGroup]="priceSection">

        <div class="tab-pane fade" id="nav-price" role="tabpanel" aria-labelledby="nav-price-tab" tabindex="0">
          <div class="row g-3 mb-3">
            <label for="regularPrice" class="col-md-2 col-form-label col-form-label-sm">Regular Price (₹)</label>
            <div class="col-md-10">
              <input type="number" class="form-control form-control-sm" formControlName="regularPrice">
            </div>
          </div>
          <div class="row g-3 mb-3">
            <label for="salePrice" class="col-md-2 col-form-label col-form-label-sm">Discount (₹)</label>
            <div class="col-md-8">
              <input type="number" class="form-control form-control-sm" formControlName="salePrice">
            </div>
            <div class="col-md-2">
              <div class="form-control-sm p-0">
                <select class="form-control form-control-sm" formControlName="discountType">
                  <option value="Flat">Flat</option>
                  <option value="Discount">Discount</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row g-3">
            <label for="PriceDateStart" class="col-md-2 col-form-label col-form-label-sm">Sale price dates</label>
            <div class="col-md-5">
            <input
              type="datetime-local"
              class="form-control form-control-sm"
              formControlName="priceDateStart"
            />
            </div>
            <div class="col-md-5">
              <input type="datetime-local" class="form-control form-control-sm" formControlName="priceDateEnd" placeholder="DD MMMM YYYY - HH:MM">
            </div>
          </div>
        </div>
      </form>
      <!-- Shipping Info Tab -->

      <form [formGroup]="shippingInfoSection">
        <div class="tab-pane fade" id="nav-shipping-info" role="tabpanel" aria-labelledby="nav-shipping-info-tab" tabindex="0">
          <div class="row g-3 mb-3">
            <label class="col-md-2 col-form-label col-form-label-sm">Weight (kg) <span class="btn-flush fs-14" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem Ipsum is simply dummy text of the printing and typesetting industry."><i class="fa-solid fa-circle-question"></i></span></label>
            <div class="col-md-10">
              <input type="number" class="form-control form-control-sm" formControlName="weight" id="weight" placeholder="0">
            </div>
          </div>
          <div class="row g-3 mb-3">
            <label class="col-md-2 col-form-label col-form-label-sm">Dimensions (cm) <span class="btn-flush fs-14" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem Ipsum is simply dummy text of the printing and typesetting industry."><i class="fa-solid fa-circle-question"></i></span></label>
            <div class="col-md-10">
              <div class="row g-3">
                <div class="col-md-4">
                  <input type="number" class="form-control form-control-sm" formControlName="length" id="Dimensions" placeholder="Length">
                </div>
                <div class="col-md-4">
                  <input type="number" class="form-control form-control-sm" formControlName="width" placeholder="Width">
                </div>
                <div class="col-md-4">
                  <input type="number" class="form-control form-control-sm" formControlName="height" placeholder="Height">
                </div>
              </div>
            </div>
          </div>
          <div class="row g-3">
            <label class="col-md-2 col-form-label col-form-label-sm">Shipping Class <span class="btn-flush fs-14" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem Ipsum is simply dummy text of the printing and typesetting industry."><i class="fa-solid fa-circle-question"></i></span></label>
            <div class="col-md-10">
              <select class="form-control form-control-sm" formControlName="shippingClass">
                <option value="0">No Shipping Class</option>
              </select>
            </div>
          </div>
        </div>
      </form>
      <!-- Other Tabs (Unmodified for brevity) -->
   <div class="tab-pane fade" id="nav-attribute" role="tabpanel" aria-labelledby="nav-attribute-tab" tabindex="0">

  <form [formGroup]="productAttributesForm">
    <div class="add-product-attribute">

      <!-- Dropdown + Add button -->
      <div class="form-group d-flex align-items-center gap-2">
        <select class="form-control form-control-sm" formControlName="selectedAttribute">
          <option value="">Custom Product Attribute</option>
          <option value="brand">Brand</option>
          <option value="color">Color</option>
          <option value="size">Size</option>
        </select>

        <button type="button" class="btn btn-sm btn-icon btn-primary" (click)="addAttribute()">
          <i class="fa-light fa-plus"></i>
        </button>
      </div>

      <!-- Dynamic Attribute Fields -->
      <div formArrayName="attributes">
        @for(attr of attributes.controls; let i = $index; track i){

          <div [formGroupName]="i" class="mt-2">
  
            <div class="row">
              <div class="col-md-5">
                <input type="text" class="form-control form-control-sm" placeholder="Attribute Name" formControlName="name">
              </div>
  
              <div class="col-md-5">
                <input type="text" class="form-control form-control-sm" placeholder="Attribute Value" formControlName="value">
              </div>
  
              <div class="col-md-2">
                <button type="button" class="btn btn-sm btn-danger" (click)="attributes.removeAt(i)">
                  <i class="fa-light fa-xmark"></i>
                </button>
              </div>
            </div>
  
          </div>
        }
      </div>

    </div>
  </form>
</div>
<!-- video section  -->
      <div class="tab-pane fade" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab" tabindex="0">
        <div class="row align-items-center g-3 mb-3">
          <label class="col-md-2 col-form-label col-form-label-sm">Video Provider</label>
          <div class="col-md-10">
            <select class="form-control form-control-sm" data-placeholder="Select Provider">
              <option value="">Select Provider</option>
              <option value="0">Youtube</option>
              <option value="1">Vimeo</option>
            </select>
          </div>
        </div>
        <div class="row g-3">
          <label class="col-md-2 col-form-label col-form-label-sm">Video Link</label>
          <div class="col-md-10">
            <input type="url" class="form-control form-control-sm" name="video_link" placeholder="Video Link">
            <span class="input-additional-txt">Use proper link without extra parameter. Don't use short share link/embeded iframe code.</span>
          </div>
        </div>
      </div>

      <!-- shipping configuration  -->
       <form [formGroup]="shippingConfigForm">
         <div class="tab-pane fade" id="nav-shipping-configuration" role="tabpanel" aria-labelledby="nav-shipping-configuration-tab" tabindex="0">
           <div class="row align-items-center g-3 mb-3">
             <label for="estimateShippingTime" class="col-md-2 col-form-label col-form-label-sm">Estimate Shipping Time</label>
             <div class="col-md-10">
               <div class="input-group">
                 <input type="number" formControlName="estimateShippingTime" class="form-control form-control-sm" id="estimateShippingTime">
                 <span class="input-group-text">Days</span>
               </div>
             </div>
           </div>
           <div class="row align-items-center g-3 mb-3">
             <label for="freeShipping" class="col-md-2 col-8 col-form-label col-form-label-sm">Free Shipping</label>
             <div class="col-md-10 col-4">
               <div class="form-check form-switch">
                 <input class="form-check-input" formControlName="freeShipping" type="checkbox" role="switch" id="freeShipping">
               </div>
             </div>
           </div>
           <div class="row align-items-center g-3 mb-3">
             <label for="flatRate" class="col-md-2 col-8 col-form-label col-form-label-sm">Flat Rate</label>
             <div class="col-md-10 col-4">
               <div class="form-check form-switch">
                 <input class="form-check-input" type="checkbox" role="switch" formControlName="flatRate" id="flatRate">
               </div>
             </div>
           </div>
           <div class="row align-items-center g-3 mb-3">
             <label for="QuantityMulitiply" class="col-md-2 col-8 col-form-label col-form-label-sm">Quantity Mulitiply</label>
             <div class="col-md-10 col-4">
               <div class="form-check form-switch">
                 <input class="form-check-input" type="checkbox" role="switch" formControlName="quantityMulitiply" id="QuantityMulitiply">
               </div>
             </div>
           </div>
           <div class="row align-items-center g-3">
             <label for="cashOnDelivery" class="col-md-2 col-8 col-form-label col-form-label-sm">Cash On Delivery</label>
             <div class="col-md-10 col-4">
               <div class="form-check form-switch">
                 <input class="form-check-input" type="checkbox" role="switch" formControlName="cashOnDelivery" id="cashOnDelivery">
               </div>
             </div>
           </div>
         </div>
       </form>
      <!-- offer  -->
       <form [formGroup]="offerForm">
         <div class="tab-pane fade" id="nav-offer" role="tabpanel" aria-labelledby="nav-offer-tab" tabindex="0">
           <div class="row align-items-center g-3 mb-3">
             <label for="flashDeal" class="col-md-2 col-8 col-form-label col-form-label-sm">Flash Deal</label>
             <div class="col-md-10 col-4">
               <div class="form-check form-switch">
                 <input class="form-check-input" type="checkbox" role="switch" formControlName="flashDeal" id="flashDeal">
               </div>
             </div>
           </div>
           <div class="row align-items-center g-3 mb-3">
             <label for="todaysDeal" class="col-md-2 col-8 col-form-label col-form-label-sm">Today's Deal</label>
             <div class="col-md-10 col-4">
               <div class="form-check form-switch">
                 <input class="form-check-input" type="checkbox" role="switch" formControlName="todaysDeal"  id="todaysDeal">
               </div>
             </div>
           </div>
           <div class="row align-items-center g-3">
             <label for="featured" class="col-md-2 col-8 col-form-label col-form-label-sm">Featured</label>
             <div class="col-md-10 col-4">
               <div class="form-check form-switch">
                 <input class="form-check-input" type="checkbox" role="switch" formControlName="featured" id="featured">
               </div>
             </div>
           </div>
         </div>
       </form>
    </div>
    <!-- Submit Button -->
    <!-- <div class="mt-3">
      <button type="submit" class="btn btn-primary" [disabled]="productMultipleOptionForm.invalid">Submit</button>
    </div> -->
</div>
            </div>
            <form [formGroup]="seoForm">
              <div class="panel">
         <div class="panel-header">
           <h5>SEO Data</h5>
           <div class="btn-box d-flex gap-2">
             <button type="button" class="btn btn-sm btn-icon btn-outline-primary"><i class="fa-light fa-arrows-rotate"></i></button>
             <button type="button" class="btn btn-sm btn-icon btn-outline-primary panel-close"><i class="fa-light fa-angle-up"></i></button>
           </div>
         </div>
         <div class="panel-body">
           <div class="row g-3 mb-3">
             <label class="col-xxl-2 col-md-3 col-form-label col-form-label-sm pe-0">Focus keyphrase <span class="btn-flush fs-14" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem Ipsum is simply dummy text of the printing and typesetting industry."><i class="fa-solid fa-circle-question"></i></span></label>
             <div class="col-xxl-10 col-md-9">
               <input type="text" class="form-control form-control-sm" id="focusKeyphrase" formControlName="focusKeyphrase">
             </div>
           </div>
           <div class="row g-3 mb-3">
             <label for="metaTitle" class="col-xxl-2 col-md-3 col-form-label col-form-label-sm">Meta Title</label>
             <div class="col-xxl-10 col-md-9">
               <input type="text" class="form-control form-control-sm" id="metaTitle" formControlName="metaTitle">
             </div>
           </div>
           <div class="row g-3 mb-3">
             <label for="slugText" class="col-xxl-2 col-md-3 col-form-label col-form-label-sm">Slug</label>
             <div class="col-xxl-10 col-md-9">
               <input type="text" class="form-control form-control-sm" id="slugText" formControlName="slugText">
             </div>
           </div>
           <div class="row g-3">
             <label for="metaDscr" class="col-xxl-2 col-md-3 col-form-label col-form-label-sm">Meta Description</label>
             <div class="col-xxl-10 col-md-9">
               <textarea class="form-control" rows="5" id="metaDscr" formControlName="metaDscr"></textarea>
             </div>
           </div>
         </div>
              </div>
            </form>
        </div>
        <div class="col-xxl-3 col-lg-4 add-product-sidebar">
            <div class="mb-30 w-100">
                <a type="button" class="btn btn-primary d-block" (click)="getProductDetails()">Preview Changed</a>
            </div>
          <div class="panel mb-30">
      <div class="panel-header">
        <h5>Published</h5>
        <div class="btn-box d-flex gap-2">
          <button type="button" class="btn btn-sm btn-icon btn-outline-primary"><i class="fa-light fa-arrows-rotate"></i></button>
          <button type="button" class="btn btn-sm btn-icon btn-outline-primary panel-close"><i class="fa-light fa-angle-up"></i></button>
        </div>
      </div>
      <div class="panel-body">
        <div class="row g-3">
          <div class="col-6">
            <label class="form-label">Status</label>
            <select class="form-control form-control-sm" formControlName="status">
              <option value="0">Published</option>
              <option value="1">Draft</option>
            </select>
          </div>
          <div class="col-6">
            <label class="form-label">Visibility</label>
            <select class="form-control form-control-sm" formControlName="visibility">
              <option value="0">Public</option>
              <option value="1">Pass. Protected</option>
              <option value="2">Private</option>
            </select>
          </div>
          <div class="col-12">
            <div class="publish-date">
              <label>Published on: </label>
              <input class="input-flush" type="date" id="publishDate"  formControlName="publishDate">
              <label for="publishDate" class="cursor-pointer text-primary"><i class="fa-light fa-pen-to-square"></i></label>
            </div>
            <!-- <div class="publish-date">
              <label>Published on: </label>
              <input class="input-flush" type="datetime-local" id="publishDate" formControlName="publishDate">
              <label for="publishDate" class="cursor-pointer text-primary"><i class="fa-light fa-pen-to-square"></i></label>
            </div> -->
          </div>
        </div>
      </div>
    </div>
<div class="panel mb-30">
  <div class="panel-header">
    <h5>Category</h5>
    <div class="btn-box d-flex gap-2">
      <button type="button" class="btn btn-sm btn-icon btn-outline-primary">
        <i class="fa-light fa-arrows-rotate"></i>
      </button>
      <button type="button" class="btn btn-sm btn-icon btn-outline-primary panel-close">
        <i class="fa-light fa-angle-up"></i>
      </button>
    </div>
  </div>





<app-category-tree [categories]="categoryListData" (selectedId)="onGetId($event)"></app-category-tree>














  
  </div>
  <!-- ✅ wrap everything under one form group -->
  <!-- <div class="panel-body" [formGroup]="categoryForm"> -->

    <!-- Search Form -->
    <!-- <form (ngSubmit)="onSearch()" class="input-group-with-icon mb-20">
      <span class="input-icon">
        <i class="fa-light fa-magnifying-glass"></i>
      </span>
      <input
        type="search"
        formControlName="search"
        placeholder="Search category"
        class="form-control"
      />
    </form> -->

    <!-- Category Checkboxes -->
    <!-- <div class="product-categories" formArrayName="selectedCategories">
      @for (control of selectedCategories.controls; track $index) {
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [formControlName]="$index"
            id="category-{{$index}}"
          />
          <label class="form-check-label" for="category-{{$index}}">
            {{ getCategoryLabel($index) }}
          </label>
        </div>
      }
    </div> -->

    <!-- ✅ Visual divider -->
    <!-- <div class="border-top mt-3 mb-3"></div> -->

    <!-- Add New Category -->
    <!-- <div class="d-flex justify-content-end">
      <button type="button" class="btn-flush add-category-btn">
        <i class="fa-light fa-plus"></i> Add new category
      </button>
    </div> -->

    <!-- ✅ Correctly nested child form group -->
    <!-- <div class="add-new-category-panel mt-3" formGroupName="newCategory">
      <input
        type="text"
        class="form-control form-control-sm mb-3"
        formControlName="name"
        placeholder="Category Name"
      />
      <select
        class="form-control form-control-sm mb-3"
        formControlName="parent"
        data-placeholder="Select Parent"
      >
        <option value="">Select Parent</option>
        @for (category of categories; track $index) {
          <option [value]="category.name">{{ category.name }}</option>
        }
      </select>

      <div class="d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-sm btn-primary"
          (click)="addNewCategory()"
        >
          Update
        </button>
      </div>
    </div> -->

  <!-- </div> -->
<!-- </div> -->

@if(tagsForm){

  <div class="panel" [formGroup]="tagsForm">
   <div class="panel-header">
     <h5>Products Tags</h5>
     <div class="btn-box d-flex gap-2">
       <button type="button" class="btn btn-sm btn-icon btn-outline-primary">
         <i class="fa-light fa-arrows-rotate"></i>
       </button>
       <button type="button" class="btn btn-sm btn-icon btn-outline-primary panel-close">
         <i class="fa-light fa-angle-up"></i>
       </button>
     </div>
   </div>
 
   <div class="panel-body">
     <div class="product-tag-area">
       <!-- <form > -->
         <div class="row g-3">
           <div class="col-9">
             <input
               type="text"
               class="input-flush form-control"
               id="productTags"
               placeholder="Enter tags"
               formControlName="tagInput"
             />
           </div>
           <div class="col-3">
             <button type="button" class="btn btn-sm btn-primary w-100" (click)="addTag()">
               Add
             </button>
           </div>
         </div>
       <!-- </form> -->
 
       <span class="input-txt">Use commas to separate tags</span>
 
       <!-- Added tags -->
       <div class="all-tags mt-2">
         @for (tag of tagsForm.value.tags; track $index) {
           <div class="item d-inline-block">
             {{ tag }}
             <span class="close-tag" (click)="removeTag($index)">
               <i class="fa-regular fa-xmark"></i>
             </span>
           </div>
         }
       </div>
 
       <!-- Tag History -->
       <div class="tag-history mt-3">
         <span class="choose-used-tag input-txt">Choose from most used tags</span>
         <div class="all-tags used-tags active">
           @for (tag of commonTags; track $index) {
             <div class="item d-inline-block" (click)="selectTag(tag)">
               {{ tag }}
               <span class="close-tag">
                 <i class="fa-regular fa-xmark"></i>
               </span>
             </div>
           }
         </div>
       </div>
     </div>
   </div>
 </div>
}


            </div>
            </div>
    

    <!-- footer start -->
    <div class="footer">
        <p>Copyright© <script>document.write(new Date().getFullYear())</script> All Rights Reserved By <span class="text-primary">safure</span></p>
    </div>
      </form>
    <!-- footer end -->
</div>
<!-- main content end -->