@use '../../../scss/variable' as *;

.login-section {
  .review-form {
    width: 51.2rem;
    background-color: $primary-color;
    padding: 4rem;
    border-radius: 0.5rem;

    .review-inner-form {
      display: block;
      width: 100%;
    }

    .shop-btn {
      width: 100%;
      margin: 0 0 2rem 0;
      cursor: pointer;

      &::after {
        display: none;
      }
    }

    .shop-account {
      color: $paragraph;
      font-size: 1.3rem;
      cursor: pointer;

      a {
        font-size: 1.3rem;
        margin-left: 0.5rem;
        font-weight: 400;
      }
    }
  }

  .review-form-text {
    img {
      top: 2rem;
    }
  }

  @media #{$sm} {
    .review-form {
      padding: 2rem;
      min-height: 50rem;
      width: auto;
      .review-form-text {
        img {
          top: 3.5rem;
        }
      }
    }
  }
  @media #{$mdl} {
    .review-form {
      width: 100%;
    }
    .login-img {
      text-align: center;
    }
  }
}

.checkbox {
  @include flexBetween();

  .forget-pass {
    p {
      color: $theme-color;
    }
  }
}

.checkbox-item {
  @include flexItem($justify: flex-start, $gap: 1rem);

  p {
    margin-bottom: 0;
    color: $paragraph;

    .inner-text {
      color: $heading;
    }
  }
  .address {
    font-size: 1.5rem;
    color: $heading;
  }
}

// create-account
.account-section {
  .review-form {
    width: 57.2rem;
  }
  .review-form-text {
    img {
      top: 2.5rem;
    }
  }
  .account-inner-form {
    @include flexItem($gap: 2rem);
    margin-bottom: 2rem;

    .review-form-name {
      width: 100%;
    }
  }
  .city-inner-form {
    margin-bottom: 0;
  }

  .address-form {
    margin: 2rem 0;
  }

  @media #{$sm} {
    .review-form {
      padding: 2rem;
      height: auto;
    }
    .account-inner-form {
      flex-direction: column;
    }
    .checkbox-item {
      margin: 1rem;
    }
  }
  @media #{$mdl} {
    .review-form {
      width: 100%;
    }
  }
}
