.category-icon-wrapper {
    .category-icons {
        // background: linear-gradient(180deg,rgba(0, 147, 221, 0.05) 0%, rgba(0, 147, 221, 0.2) 52%, rgba(0, 147, 221, 0.35) 100%);
        // display: flex;
        // align-items: end;
        // justify-content: space-between;
        // gap: 3;
        // overflow-x: auto;
        .btn {
            // img {
            //     width: 32px;
            //     height: 32px;
            // }
            // .small {
            //     font-size: .75rem;
            //     white-space: nowrap;
            // }
            // &:first-child {
            //     background: #fff;
            // }
        }
    } 
}