.router-height {
    flex: 1;
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Lowering alpha to 0.3 for less opacity */
  background: rgba(255, 255, 255, 0.3); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Optional: adds a slight blur to the background for a modern look */
  backdrop-filter: blur(2px); 
}