/* Global Styles */
@-webkit-keyframes loader {
  0% {
    background: #a9b4cc;
  }
  50% {
    background: #0093dd;
  }
  100% {
    background: #a9b4cc;
  }
}
@keyframes loader {
  0% {
    background: #a9b4cc;
  }
  50% {
    background: #0093dd;
  }
  100% {
    background: #a9b4cc;
  }
}
input {
  border: 1px solid rgba(0, 147, 221, 0.2);
}

.dataTables_wrapper .dataTables_filter input:focus {
  border-color: #0093dd;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #0093dd;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: white;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background: #0280bf;
  color: white;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #0093dd;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 147, 221, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(0, 147, 221, 0.25);
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  border-color: #0093dd;
}

.daterangepicker .ranges li.active {
  background: #0093dd;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background: #0093dd;
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
  background: #0093dd;
}

.dtp .p10 > a {
  color: #0093dd;
}

.dtp table.dtp-picker-days tr > td > a.selected {
  background: #0093dd;
}

.dtp .dtp-actual-meridien a.selected {
  background: #0093dd;
}

.minute-hand[stroke="#8BC34A"],
.hour-hand[stroke="#8BC34A"] {
  stroke: #0093dd;
}

.dtp-select-minute[fill="#8BC34A"],
.dtp-select-hour[fill="#8BC34A"] {
  fill: #0093dd;
}

.year-picker-item:hover,
.year-picker-item.active {
  color: #0093dd;
}

.ui-datepicker td a.ui-state-highlight {
  background: #0093dd;
}

.fc-event, .fc-event-dot {
  background-color: #0093dd;
}

.swiper-pagination-bullet {
  background: #0093dd;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #0093dd;
}

.swiper-pagination.swiper-pagination-vertical .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #0093dd;
}

.bg-primary {
  background-color: #0093dd !important;
}

.text-primary {
  color: #0093dd !important;
}

.btn-group .btn-primary {
  border-color: #025f8d;
}

.btn.show {
  background-color: #025f8d;
  border-color: #0093dd;
}

.btn-primary {
  background: #0093dd;
  border: 1px solid #0093dd;
}
.btn-primary:hover {
  background: #025f8d;
  border-color: #0093dd;
}
.btn-primary.current, .btn-primary.active {
  background-color: #025f8d;
  border-color: #0093dd;
}
.btn-primary:active, .btn-primary:focus {
  background-color: #025f8d !important;
  border-color: #0093dd !important;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(175, 77, 28, 0.3);
          box-shadow: 0 0 0 0.25rem rgba(175, 77, 28, 0.3);
}
.btn-primary:disabled, .btn-primary.disabled {
  background: #0093dd;
  border-color: #0093dd;
}

.border-primary {
  border-color: #0093dd !important;
}

.btn-outline-primary {
  border: 1px solid rgba(0, 147, 221, 0.2);
}
.btn-outline-primary:hover {
  background: #025f8d;
  border-color: #0093dd;
}
.btn-outline-primary.current, .btn-outline-primary.active {
  background-color: #025f8d;
  border-color: #0093dd;
}
.btn-outline-primary:active, .btn-outline-primary:focus {
  background-color: #025f8d !important;
  border-color: #0093dd !important;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(175, 77, 28, 0.3);
          box-shadow: 0 0 0 0.25rem rgba(175, 77, 28, 0.3);
}

.form-select:focus,
.form-control:focus {
  border-color: #0093dd;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 147, 221, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(0, 147, 221, 0.25);
}

.form-check .form-check-input:focus {
  border-color: #0093dd;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 147, 221, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(0, 147, 221, 0.25);
}
.form-check.form-switch .form-check-input:checked {
  background-color: #0093dd;
  border-color: #0093dd;
}

.tooltip {
  --bs-tooltip-bg: #F19C49;
}

.progress, .progress-stacked {
  --bs-progress-bar-bg: #F19C49;
}

.panel .panel-header form:focus-within {
  -webkit-box-shadow: 0 0 0 0.15rem rgba(0, 147, 221, 0.25);
          box-shadow: 0 0 0 0.15rem rgba(0, 147, 221, 0.25);
}

.input-group-with-icon:focus-within {
  border-color: #0093dd;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 147, 221, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(0, 147, 221, 0.25);
}

input[type=radio]:checked,
input[type=checkbox]:checked {
  background-color: #0093dd;
  border-color: #0093dd;
}

.light-theme .btn-outline-primary {
  border-color: rgba(0, 147, 221, 0.5);
  color: #025f8d;
}

/* Header Section */
.header-right-btns .header-form {
  border: 1px solid rgba(0, 147, 221, 0.3);
}

.header-right-btns .header-form:focus-within {
  border-color: #0093dd;
}

.header-right-btns .header-btn-box .show-all-btn {
  border: 1px solid rgba(0, 147, 221, 0.3);
}

.dropdown-menu .dropdown-item:hover {
  background: #0093dd;
}

/* Right Sidebar Section */
.right-sidebar .right-bar-close::after {
  background: #0093dd;
}
.right-sidebar .sidebar-title {
  background: #0093dd;
}
.right-sidebar .icon::after {
  background: #0093dd;
}
.right-sidebar .icon:hover, .right-sidebar .icon.active {
  border-color: #0093dd !important;
}
.right-sidebar .bg-menu {
  background: rgba(0, 147, 221, 0.05);
}
.right-sidebar .bg-nav {
  background: rgba(0, 147, 221, 0.15);
}
.right-sidebar .main-content-bg-btn-box button::after,
.right-sidebar .sidebar-bg-btn-box button::after {
  background: rgba(133, 61, 25, 0.7);
}
.right-sidebar .main-content-bg-btn-box button.active,
.right-sidebar .sidebar-bg-btn-box button.active {
  border-color: #0093dd;
}

.light-theme .right-sidebar .bg-menu {
  background: rgba(0, 147, 221, 0.1);
}
.light-theme .right-sidebar .bg-nav {
  background: rgba(0, 147, 221, 0.4) !important;
}

/* Sidebar Menu Section */
.main-sidebar.horizontal-menu {
  background-color: #0280bf;
}
.main-sidebar.horizontal-menu::after {
  background: rgba(0, 147, 221, 0.7);
}
.main-sidebar.two-column-menu.collapsed .sidebar-item .sidebar-link.has-sub.show {
  background: #0093dd;
}

.sidebar-item {
  border: 1px solid rgba(0, 147, 221, 0.2);
}

.sidebar-link-group-title {
  background: #0280bf;
}

.sidebar-item.open .sidebar-link {
  background: #0093dd;
}

.collapsed .sidebar-item .sidebar-link.has-sub.show {
  background: rgba(0, 147, 221, 0.2);
}

.sidebar-menu .help-center {
  background: #0093dd;
}

.light-theme .main-sidebar.horizontal-menu {
  background-color: #0093dd;
}
.light-theme .main-sidebar.horizontal-menu::after {
  background: rgba(0, 147, 221, 0.7);
}
.light-theme .sidebar-link-group-title {
  background: #0093dd;
}

/* Main Content Section */
.main-content.login-panel.login-panel-2 .panel-title::after {
  background: #0093dd;
}
.main-content .filter .input-group-text {
  background: #0093dd;
}
.main-content .top-box {
  border-top: 1px solid #0093dd;
}
.main-content .top-box.top-box-2:hover .right {
  border-color: #0093dd;
}
.main-content .top-box .left a:hover {
  color: #0093dd;
}
.main-content .top-box .right .part-icon {
  color: #0093dd;
}
.main-content .top-box:hover .right .part-icon {
  background: #0093dd;
}
.main-content .visitor-table td span {
  background: #0093dd;
}
.main-content .table-activity tr:hover .date-box {
  background: #0093dd;
}
.main-content .hr-recent-activity li::before {
  border-color: #0093dd;
}
.main-content .hr-recent-activity li::after {
  background: #0093dd;
}
.main-content .hr-notice-board li:hover .date-box {
  background: #0093dd;
}
.main-content .table-bottom-control .btn.current {
  background: #0093dd;
}
.main-content .login-body.login-body-2 .top {
  border: 4px solid #0093dd;
}
.main-content .login-body.login-body-2 .top a {
  color: #0093dd;
}
.main-content .login-body .bottom .other-option .social-box a {
  color: #0093dd;
}
.main-content .login-body .bottom .other-option .social-box a:hover {
  background: #0093dd;
}
.main-content .profile-sidebar .top .image-wrap .image-change {
  background: #0093dd;
}
.main-content .profile-sidebar .top .part-txt .admin-social a:hover {
  color: #0093dd;
}
.main-content .user-activity ul li .left::before {
  background: #0093dd;
}
.main-content .user-activity ul li:hover .left::after {
  background: #0093dd;
}
.main-content .profile-edit-tab .admin-profile .image-wrap .image-change {
  background: #0093dd;
}
.main-content .file-manager-card .top .dropdown-menu .dropdown-item:active, .main-content .file-manager-card .top .dropdown-menu .dropdown-item:focus, .main-content .file-manager-card .top .dropdown-menu .dropdown-item:hover {
  color: #0093dd;
}
.main-content .file-card .action .dropdown-menu .dropdown-item:active, .main-content .file-card .action .dropdown-menu .dropdown-item:focus, .main-content .file-card .action .dropdown-menu .dropdown-item:hover {
  color: #0093dd;
}
.main-content .chatting-panel .msg-area .single-message.outgoing .msg-box .msg-box-inner .sent-status.seen {
  color: #0093dd;
}
.main-content .chatting-panel .msg-area .single-message .msg-box .msg-box-inner {
  background: #0093dd;
}
.main-content .chatting-panel .msg-area .single-message .msg-box .msg-box-inner:last-child::after {
  border-bottom-color: #0093dd;
}
.main-content .email-panel .emial-menu-list ul li button:hover, .main-content .email-panel .emial-menu-list ul li button.active {
  background: #0093dd;
}

.voice-call::after {
  background: #0093dd;
}

.dropzone .dz-message .dz-button i {
  color: #0093dd;
}

.main-content .ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable),
.compose-mail .ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  border-color: #0093dd;
}

.light-theme .main-content .top-box .right .part-icon.text-light {
  color: #0093dd !important;
}

@media only screen and (min-width: 320px) and (max-width: 1399px) {
  .light-theme .main-content .chatting-panel .chatting-panel-top-btns > .btn.btn-icon:focus-visible, .light-theme .main-content .chatting-panel .chatting-panel-top-btns > .btn.btn-icon:hover, .light-theme .main-content .chatting-panel .chatting-panel-top-btns > .btn.btn-icon:active, .light-theme .main-content .chatting-panel .chatting-panel-top-btns > .btn.btn-icon:focus {
    color: #0093dd;
  }
}