header {
    z-index: 1024;
}

.category-icon-wrapper {
    .category-icons {
        background-color: rgba(var(--bs-primary-rgb), 10%);
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: 3;
        overflow-x: auto;
        .btn {
            flex: 1;
            img {
                width: 32px;
                height: 32px;
            }
            .small {
                font-size: .75rem;
                white-space: nowrap;
            }
        }
    } 
}

.suggested-products {
    .product-image {
        img {
            min-height: 90px;
        }
    }
}