header {
    z-index: 1024;
}

.category-icon-wrapper {
    .category-icons {
        background: linear-gradient(180deg,rgba(0, 147, 221, 0.05) 0%, rgba(0, 147, 221, 0.2) 52%, rgba(0, 147, 221, 0.35) 100%);
        display: flex;
        align-items: end;
        // justify-content: space-between;
        gap: 3;
        overflow-x: auto;
        .btn {
            img {
                width: 32px;
                height: 32px;
            }
            .small {
                font-size: .75rem;
                white-space: nowrap;
            }
            &:first-child {
                background: #fff;
            }
        }
    } 
}

.suggested-products {
    .product-image {
        img {
            height: 115px;
            object-fit: contain;
        }
    }
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    padding: 6px 0;
    a {
        text-align: center;
        font-size: 12px;
        color: #444;
        text-decoration: none;
        &.active {
            color: #0093DD;
        }
        img {
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }
}