// colors-------------
// $theme-color: #0093dd;
:root {
    --bs-primary: #0093dd;
    --bs-secondary: #4a4a4a;
    --bs-success: #628141;
    --bs-info: #54e3ff;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #ebebeb;
    --bs-dark: #212529;
    --bs-primary-rgb: 0, 147, 221;
    --bs-secondary-rgb: 74, 74, 74;
    --bs-success-rgb: 98, 129, 65;
    --bs-info-rgb: 84, 227, 255;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 235, 235, 235;
    --bs-dark-rgb: 33, 37, 41;
}
// $primary-color: var(--bs-primary);
// $secondary-color: #ffbb38;
// $heading: #1d1d1d;
// $paragraph: #797979;
// $theme-bg: rgba($theme-color, 0.06);
// $btn-bg-1: #fe0600;
// $btn-bg-2: #921dff;

// font---------------
$nunito: "Nunito", sans-serif;

.btn {
    --bs-btn-font-family: $nunito;
    &.btn-primary {
        --bs-btn-color: var(--bs-light);
        --bs-btn-bg: var(--bs-primary);
        --bs-btn-border-color: var(--bs-primary);
        --bs-btn-hover-color: var(--bs-light);
        --bs-btn-hover-bg: #0b5ed7;
        --bs-btn-hover-border-color: #0a58ca;
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: var(--bs-light);
        --bs-btn-active-bg: #0a58ca;
        --bs-btn-active-border-color: #0a53be;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: var(--bs-light);
        --bs-btn-disabled-bg: var(--bs-primary);
        --bs-btn-disabled-border-color: var(--bs-primary);
    }
}