
.filter {
    width: 250px;
    border-radius: 3px;
}

.top-box {
    color: #797979;
    .left h3 {
        font-size: 14px;
        font-weight: 500;
        margin-top: -2px;
        margin-bottom: 7px;
    }
}
.top-box .right span {
    font-size: 12px;
    font-weight: 600;
    margin-top: -4px;
}
.top-box .left a {
    font-size: 10px;
    color: #797979;
}
.top-box .right .part-icon {
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: color-mix(in srgb, #000 5%, #fff);
    span {
        font-size: 1rem;
        color: #0093dd;
    }
}
.top-box:hover .right .part-icon {
    background: #0093dd;
    span {
        color: #e4e4e4;
    }
}